// * {
//     padding: 0;
//     margin: 0;
// }
html {
    font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, PingFangSC-Medium, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    // -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}


.leftCt {
    width: 170px;
}

.alert-content {
    position: fixed;
    -webkit-transform: translateZ(0);
    left: 50%;
    top: 50%;
    z-index: 1001;
    font-size: 14px;
    padding: 12px 15px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.noShowOfAlert {
    display: none;
}

#app {
    border-top: 1px solid rgba(204, 204, 204, 1); // width: 598px;
    width: 100%;
    // position: absolute;

    // z-index: -1;
    // top: 44px;
    // bottom: 0;
    // height: auto;
    .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: #111;
        opacity: .9;
    }

    .ct {

        // z-index: 9990;
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // line-height: 16px;
        // text-align: center;
        // background-color: white;
        .nav {
            box-sizing: border-box;
            padding: 0 30px;
            height: 60px;
            background: rgba(239, 239, 244, 1);
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            div {
                font-size: 15px;
                font-family: PingFangSC-Regular;
                font-weight: 400;
            }

            .command {
                width: 90px;
                color: rgba(117, 117, 117, 1);
            }

            .sel_command {
                flex: 4;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                li {
                    padding: 7px 13px;
                    color: rgba(34, 34, 34, 1);
                    border: 1px solid transparent;
                }

                .show_border {
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(10, 24, 49, 1); // border-image: none;
                    border-radius: 25px;
                }
            }
        }

        .filter_ct {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 60px;
            padding: 0 30px;
            box-sizing: border-box;

            .command {
                width: 90px;
                color: rgba(117, 117, 117, 1);
            }

            .link-result_ct {
                height: 50px;
                line-height: 50px;
                padding: 0 30px 0 0;

                .link-result-text {
                    display: inline-block;
                    text-align: center;
                    font-size: 15px;
                    font-family: PingFangSC-Regular;
                    font-weight: 400;
                    color: rgba(34, 34, 34, 1);
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(34, 34, 34, 1);
                    line-height: 28px;
                    height: 28px; // width: 68px;
                    padding: 0 20px;
                }

                .link-result_drop {
                    position: relative;
                    z-index: 99;

                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    .triangle {
                        position: absolute;
                        top: -19px;
                        left: 75px;
                        width: 0px;
                        height: 0px;
                        border-top: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(34, 34, 34, 1);
                        border-left: 10px solid transparent
                    }

                    .downNav {
                        position: absolute; // top: 50px;
                        left: 0;
                        width: 158px;
                        height: 235px;
                        background: rgba(34, 34, 34, 1);
                        border-radius: 13px;
                        text-align: center;

                        li {
                            margin: 0 auto;
                            text-align: center;
                            width: 158px;
                            height: 45px;
                            line-height: 45px;
                            font-size: 12px;
                            font-family: PingFangSC-Medium;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 1);
                            border-bottom: 1px solid rgba(117, 117, 117, 1);

                            &.select_li {
                                color: rgba(116, 188, 218, 1);
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }

            .recharge-result_ct {
                height: 50px;
                line-height: 50px;

                .recharge-result-text {
                    display: inline-block;
                    text-align: center;
                    font-size: 15px;
                    font-family: PingFangSC-Regular;
                    font-weight: 400;
                    color: rgba(34, 34, 34, 1);
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(34, 34, 34, 1);
                    line-height: 28px;
                    height: 28px; // width: 68px;
                    padding: 0 20px;
                }

                .recharge-result_drop {
                    position: relative;
                    z-index: 99;

                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    .triangle {
                        position: absolute;
                        top: -19px;
                        left: 60px;
                        width: 0px;
                        height: 0px;
                        border-top: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(34, 34, 34, 1);
                        border-left: 10px solid transparent
                    }

                    .downNav {
                        position: absolute; // top: 50px;
                        left: 0;
                        width: 140px;
                        height: 145px;
                        background: rgba(34, 34, 34, 1);
                        border-radius: 13px;
                        text-align: center;

                        li {
                            margin: 0 auto;
                            text-align: center;
                            width: 140px;
                            height: 45px;
                            line-height: 45px;
                            font-size: 12px;
                            font-family: PingFangSC-Medium;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 1);
                            border-bottom: 1px solid rgba(117, 117, 117, 1);

                            &.select_li {
                                color: rgba(116, 188, 218, 1);
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }


    }

    .content {
        box-sizing: border-box;

        .search_ct {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            // height: 50px;
            // line-height: 50px;
            padding: 10px 30px;

            input {
                border: 1px solid #c8c7cc;
                outline-color: azure;
                // line-height: 30px;
                margin-right: 20px;
                border-radius: 12px;
                min-width: 150px;
                text-indent: 1em;
                font-size: 18px;
                padding: 5px 0;

            }

            div {
                width: 80px;
                height: 32px;
                border: 1px solid #c8c7cc;
                color: #fff;
                background: #0a1831;
                border-radius: 22px;
                font-size: 15px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                line-height: 28px;
                text-align: center;
            }

        }

    }

    .wrapperContent {
        padding: 0 15px;

        li {
            background: rgba(239, 239, 244, 1);
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.12);
            margin-bottom: 10px;

            .title {
                height: 45px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                line-height: 45px;
                padding: 0 15px;

                .isRecharge {
                    margin: 0 0 0 10px;
                    padding: 3px 8px;
                    background: #7fbfe3;
                    color: #fff;
                }

                .notRecharge {
                    margin: 0 0 0 10px;
                    padding: 3px 8px;
                    background: #111;
                    color: #fff;
                }

                .left {
                    font-size: 15px;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    color: rgba(34, 34, 34, 1);
                    line-height: 45px;
                }

                .right {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid rgba(34, 34, 34, 1);
                    border-radius: 15px;
                    padding: 8px 14px;
                    height: 14px;

                    button {
                        background: transparent;
                        border: none;
                        outline: none;
                        font-size: 15px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(34, 34, 34, 1);
                        cursor: pointer;
                    }

                    >div:last-child {
                        width: 18px;
                        height: 18px;
                        margin-left: 4px;

                        img {
                            display: block;
                            align-self: flex-start;
                        }
                    }
                }
            }

            .content_c {
                background: rgba(255, 255, 255, 1);
                padding: 0 15px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                position: relative;

                p {
                    line-height: 30px;
                    text-align: justify;

                    span {
                        font-size: 15px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                    }

                    .text_1 {
                        color: rgba(153, 153, 153, 1);
                    }

                    .text_2 {
                        color: rgba(34, 34, 34, 1);
                    }
                }

                p.text_bz {
                    position: relative;
                    width: 700px;
                }

                .left {
                    flex: 1;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    max-width: 270px;
                    padding-right: 20px;

                    .btns {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        padding-top: 20px;
                        align-items: center;

                        div {
                            // width:90px;
                            text-align: center;
                            font-size: 15px;
                            font-family: PingFangSC-Regular;
                            font-weight: 400;
                            padding: 8px 14px;
                            color: rgba(34, 34, 34, 1);
                            background: rgba(255, 255, 255, 1);
                            border: 1px solid rgba(200, 199, 204, 1);
                            border-radius: 15px;
                            font-weight: 400;
                            color: rgba(34, 34, 34, 1); // line-height: 11px;
                        }

                        .btn_history {
                            margin-right: 30px;
                        }
                    }
                }

                .right {
                    padding-top: 10px;
                    padding-bottom: 15px;
                }
            }
        }
    }

    .img_all {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .svg_ct {
        height: 20px;
        display: flex;
        justify-content: center; // background:rgba(239,239,244,1);
    }

    .tab_loading {
        height: 20px;
        display: flex;
        justify-content: center;
    }

    .hide {
        display: none;
    }
}

.custom_ct {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, .3);

    .custom {
        width: 400px; // height: 343px;
        background: rgba(255, 255, 255, 1);
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        box-sizing: border-box;
        padding: 0 25px;

        .top {
            font-size: 15px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(117, 117, 117, 1);
            line-height: 11px;
            padding-top: 31px;
        }

        .middle {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            padding-top: 26px;

            label {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                width: 170px;
                line-height: 22px;
                padding-bottom: 26px;

                .icon_ct {
                    position: relative;
                    margin-right: 14px;
                    width: 22px;

                    input {
                        width: 22px;
                        opacity: 0;
                        display: none;

                        &:checked~span {
                            background: url('https://appybrencdn.oss-cn-hangzhou.aliyuncs.com/Wx/komolei/images/checked.png'), no-repeat;
                            background-size: 100%, 100%;
                        }
                    }

                    span {
                        position: absolute;
                        z-index: 300;
                        display: inline-block;
                        top: 0;
                        width: 22px;
                        height: 22px;
                        background: url('https://appybrencdn.oss-cn-hangzhou.aliyuncs.com/Wx/komolei/images/circle2.png'), no-repeat;
                        background-size: 100%;
                    }

                    &:last-child {
                        font-size: 15px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(34, 34, 34, 1);
                        line-height: 11px;
                    }
                }
            }
        }

        .select_time {
            .top {
                height: 15px;
                font-size: 15px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                color: rgba(117, 117, 117, 1);
                padding-top: 0;
            }

            .time_box {
                padding: 15px 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-content: center;

                .time {
                    width: 75px;
                    height: 44px;
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(34, 34, 34, 1);
                    border-radius: 5px;
                    text-align: center;
                    line-height: 44px;
                    font-size: 15px;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    color: rgba(34, 34, 34, 1);
                    margin-bottom: 10px;
                }

                .show_time {
                    background: rgba(116, 188, 218, 1);
                    border: 1px solid rgba(116, 188, 218, 1);
                    color: #fff;
                }
            }
        }

        .remark {
            height: 15px;
            font-size: 15px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(117, 117, 117, 1);
            line-height: 11px;
        }

        .remark_input {
            margin-top: 15px;
            // border: 1px solid #111;

            // input {
            //     width: 90%;
            //     // height: 44px;
            //     // line-height: 44px;
            //     border: 1px solid rgba(200, 199, 204, 1);
            //     outline-color: azure;
            //     font-size: 18px;
            //     padding: 5px 15px;
            // }
            // textarea {

            //     width: 90%;
            //     padding: 7px 15px;
            //     border: none;
            //     outline: none;
            //     font-size: 18px;
            //     line-height: 20px;
            //     box-shadow: transparent;
            // }
            .textarea{
                padding: 5px 10px;
                // width: 100%;
                min-height: 20px;
                max-height: 300px;
                _height: 120px;
                margin-left: auto;
                margin-right: auto;
                outline: none;
                border: 1px solid #111;
                font-size: 18px;
                line-height: 24px;
                word-wrap: break-word;
                overflow-x: hidden;
                overflow-y: auto;

            }
        }

        .bottom {
            padding: 30px 0 34px 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            >div {
                width: 140px;
                height: 44px;
                background: rgba(255, 255, 255, 1);
                border: 1px solid rgba(200, 199, 204, 1);
                border-radius: 22px;
                font-size: 15px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                line-height: 44px;
                text-align: center;
            }

            .btn_cancel {
                color: rgba(34, 34, 34, 1);
            }

            .btn_sure {
                color: rgba(255, 255, 255, 1);
                background: rgba(10, 24, 49, 1);
                border-radius: 22px;
            }
        }
    }
}

.pay_ct {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, .3);

    .pay_record {
        width: 400px; // height: 343px;
        background: rgba(255, 255, 255, 1);
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        box-sizing: border-box;
        padding: 0 15px;

        .top {
            line-height: 60px;
            font-size: 18px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(34, 34, 34, 1);
            text-align: center;
        }

        .middle {
            max-height: 272px;
            overflow-y: scroll;

            table {
                width: 100%;
                border-collapse: collapse;
            }

            tr>th {
                line-height: 44px;
                background: rgba(248, 248, 251, 1);
                font-size: 15px;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(34, 34, 34, 1);
                text-align: center;
                border: 1px solid rgba(200, 199, 204, 1);
            }

            tr>td {
                border: 1px solid rgba(200, 199, 204, 1);
                line-height: 44px;
                background: #fff;
                font-size: 15px;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(34, 34, 34, 1);
                text-align: center;
            }
        }

        .bottom {
            padding: 30px 0 24px 0;

            .cancel {
                margin: 0 auto;
                width: 140px;
                line-height: 44px;
                background: rgba(255, 255, 255, 1);
                border: 1px solid rgba(34, 34, 34, 1);
                border-radius: 22px;
                text-align: center;
            }
        }
    }
}

.loading {
    height: 50;
    text-align: center;
}

.hide {
    display: none;
}